In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
df =pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')
df.head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

In [56]:
df1 = pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')
df1.head(2)

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

1) Get the Metadata from the above files.

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator                  4656 non-null object
PUBLISH STATES             4656 non-null object
Year                       4656 non-null int64
WHO region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null float64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(4), int64(2), object(6)
memory usage: 436.6+ KB

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

2) Get the row names from the above files.

In [59]:
list(df.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [60]:
list(df1.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

3) Change the column name from any of the above file.

In [61]:
df.rename( columns={'Indicator' : 'Indicator_Id'})

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

4) Change the column name from any of the above file and store the changes made
permanently.

In [62]:
df = df.rename( columns={'Indicator' : 'Indicator_Id'})

In [63]:
df.head(2)

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

5) Change the names of multiple columns.

In [64]:
df = df.rename( columns={'PUBLISH STATES' : 'Publication Status', 'WHO region' : 'WHO Region'})

In [65]:
df.head(2)

,Indicator_Id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

6) Arrange values of a particular column in ascending order.

In [66]:
df.sort_values(by=['Year'])

,Indicator_Id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

7) Arrange multiple column values in ascending order.

In [68]:
df.sort_values(by=['Indicator_Id', 'Country', 'Year', 'WHO Region', 'Publication Status'])

,Indicator_Id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45.0,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45.0,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45.0,NaN,NaN,NaN
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49.0,NaN,NaN,NaN
4457,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
2598,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Both sexes,62,62.0,NaN,NaN,NaN
3690,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Male,60,60.0,NaN,NaN,NaN
3691,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Female,64,64.0,NaN,NaN,NaN
2599,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Female,66,66.0,NaN,NaN,NaN
3692,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Male,64,64.0,NaN,NaN,NaN
4064,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Both sexes,65,65.0,NaN,NaN,NaN
3408,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Both sexes,60,60.0,NaN,NaN,NaN
3734,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Male,59,59.0,NaN,NaN,NaN
4114,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Female,61,61.0,NaN,NaN,NaN
3409,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Male,62,62.0,NaN,NaN,NaN
3735,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Both sexes,62,62.0,NaN,NaN,NaN
4115,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Female,63,63.0,NaN,NaN,NaN
3367,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Male,67,67.0,NaN,NaN,NaN
3368,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Female,72,72.0,NaN,NaN,NaN
3369,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,70,70.0,NaN,NaN,NaN
2248,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Both sexes,72,72.0,NaN,NaN,NaN
2600,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Male,70,70.0,NaN,NaN,NaN
2601,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Female,74,74.0,NaN,NaN,NaN
2246,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Male,38,38.0,NaN,NaN,NaN
2247,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Female,40,40.0,NaN,NaN,NaN
3364,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Both sexes,39,39.0,NaN,NaN,NaN
3365,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Female,45,45.0,NaN,NaN,NaN
3366,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Both sexes,44,44.0,NaN,NaN,NaN
4063,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Male,43,43.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Male,71,71.0,NaN,NaN,NaN
669,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Both sexes,76,76.0,NaN,NaN,NaN
1073,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Female,80,80.0,NaN,NaN,NaN
288,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Both sexes,58,58.0,NaN,NaN,NaN
1510,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Male,56,56.0,NaN,NaN,NaN
3099,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Female,59,59.0,NaN,NaN,NaN
673,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Male,59,59.0,NaN,NaN,NaN
674,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Both sexes,61,61.0,NaN,NaN,NaN
1918,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Female,62,62.0,NaN,NaN,NaN
289,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,64,64.0,NaN,NaN,NaN
1076,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Female,65,65.0,NaN,NaN,NaN
3098,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Male,62,62.0,NaN,NaN,NaN
290,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Both sexes,43,43.0,NaN,NaN,NaN
1078,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Male,40,40.0,NaN,NaN,NaN
1922,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Female,47,47.0,NaN,NaN,NaN
291,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,41,41.0,NaN,NaN,NaN
1079,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Male,40,40.0,NaN,NaN,NaN
1080,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Female,43,43.0,NaN,NaN,NaN
292,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,57,57.0,NaN,NaN,NaN
679,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Female,58,58.0,NaN,NaN,NaN
3100,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Male,55,55.0,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62.0,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64.0,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60.0,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42.0,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42.0,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42.0,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60.0,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56.0,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58.0,NaN,NaN,NaN

8) Make countryâ€‹ as the first column of the dataframe.

In [69]:
df = df[['Country', 'Indicator_Id', 'Year', 'WHO Region', 'World Bank income group',
         'Sex', 'Display Value', 'Numeric', 'Low', 'High', 'Comments']]

In [70]:
df

,Country,Indicator_Id,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
5,Antigua and Barbuda,Life expectancy at birth (years),2000,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
12,Austria,Life expectancy at age 60 (years),2012,Europe,High-income,Female,25,25.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
23,Brunei Darussalam,Life expectancy at age 60 (years),2000,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

9) Get the column array using a variable

In [71]:
list(df.Country)

['Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'United Arab Emirates',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Austria',
 'Belgium',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahamas',
 'Bahamas',
 'Barbados',
 'Barbados',
 'Barbados',
 'Brunei Darussalam',
 'Brunei Darussalam',
 'Brunei Darussalam',
 'Canada',
 'Canada',
 'Canada',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Cook Islands',
 'Cook Islands',
 'Cook Islands',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Czech Republic',
 'Czech Republic',
 'Germany',
 'Germany',
 'Germany',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Spain',
 'Spain',
 'Spain',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Finland',
 'Finland',
 'France',
 'France',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Kingdom of Great Britain and Northern Ireland',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Greece',
 'Greece',
 'Croatia',
 'Croatia',
 'Croatia',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Ireland',
 'Ireland',
 'Ireland',
 'Iceland',
 'Iceland',
 'Israel',
 'Israel',
 'Israel',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Japan',
 'Japan',
 'Japan',
 'Republic of Korea',
 'Republic of Korea',
 'Republic of Korea',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Monaco',
 'Monaco',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Norway',
 'Norway',
 'Nauru',
 'Nauru',
 'Nauru',
 'Nauru',
 'New Zealand',
 'New Zealand',
 'Oman',
 'Oman',
 'Oman',
 'Oman',
 'Oman',
 'Oman',
 'Portugal',
 'Portugal',
 'Qatar',
 'Qatar',
 'Qatar',
 'Qatar',
 'Saudi Arabia',
 'San Marino',
 'San Marino',
 'San Marino',
 'San Marino',
 'San Marino',
 'San Marino',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Sweden',
 'Trinidad and Tobago',
 'Trinidad and Tobago',
 'Trinidad and Tobago',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Burundi',
 'Burundi',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ghana',
 'Ghana',
 'Ghana',
 'Guinea',
 'Guinea',
 'Guinea',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Guinea-Bissau',
 'Haiti',
 'Haiti',
 'Haiti',
 'Haiti',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kyrgyzstan',
 'Kyrgyzstan',
 'Kyrgyzstan',
 'Kyrgyzstan',
 'Kyrgyzstan',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 "Lao People's Democratic Republic",
 "Lao People's Democratic Republic",
 "Lao People's Democratic Republic",
 'Liberia',
 'Liberia',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Mali',
 'Mali',
 'Mali',
 'Myanmar',
 'Myanmar',
 'Myanmar',
 'Myanmar',
 'Myanmar',
 'Mozambique',
 'Mozambique',
 'Mozambique',
 'Mozambique',
 'Mozambique',
 'Mozambique',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Malawi',
 'Malawi',
 'Malawi',
 'Malawi',
 'Niger',
 'Niger',
 'Niger',
 'Niue',
 'Niue',
 'Niue',
 'Nepal',
 'Nepal',
 'Nepal',
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 'Rwanda',
 'Rwanda',
 'Rwanda',
 'Rwanda',
 'Senegal',
 'Senegal',
 'Senegal',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'Somalia',
 'Somalia',
 'South Sudan',
 'South Sudan',
 'Chad',
 'Chad',
 'Togo',
 'Tajikistan',
 'Tajikistan',
 'Tajikistan',
 'Tajikistan',
 'United Republic of Tanzania',
 'United Republic of Tanzania',
 'Uganda',
 'Uganda',
 'Uzbekistan',
 'Uzbekistan',
 'Viet Nam',
 'Viet Nam',
 'Viet Nam',
 'Viet Nam',
 'Yemen',
 'Yemen',
 'Zambia',
 'Zambia',
 'Zambia',
 'Zambia',
 'Zimbabwe',
 'Zimbabwe',
 'Angola',
 'Angola',
 'Angola',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Azerbaijan',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Bolivia (Plurinational State of)',
 'Bolivia (Plurinational State of)',
 'Bolivia (Plurinational State of)',
 'Bolivia (Plurinational State of)',
 'Bolivia (Plurinational State of)',
 'Bolivia (Plurinational State of)',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'China',
 'China',
 'China',
 "CÃ´te d'Ivoire",
 "CÃ´te d'Ivoire",
 "CÃ´te d'Ivoire",
 "CÃ´te d'Ivoire",
 "CÃ´te d'Ivoire",
 "CÃ´te d'Ivoire",
 'Cameroon',
 'Cameroon',
 'Congo',
 'Congo',
 'Congo',
 'Congo',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Cabo Verde',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Egypt',
 'Egypt',
 'Micronesia (Federated States of)',
 'Micronesia (Federated States of)',
 'Micronesia (Federated States of)',
 'Micronesia (Federated States of)',
 'Georgia',
 'Georgia',
 'Georgia',
 'Guatemala',
 'Guyana',
 'Guyana',
 'Guyana',
 'Honduras',
 'Honduras',
 'Honduras',
 'Honduras',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'India',
 'India',
 'Iran (Islamic Republic of)',
 'Iran (Islamic Republic of)',
 'Iran (Islamic Republic of)',
 'Jordan',
 'Jordan',
 'Jordan',
 'Kiribati',
 'Kiribati',
 'Kiribati',
 'Sri Lanka',
 'Sri Lanka',
 'Lesotho',
 'Lesotho',
 'Lesotho',
 'Morocco',
 'Morocco',
 'Morocco',
 'Morocco',
 'Morocco',
 'Republic of Moldova',
 'Republic of Moldova',
 'Republic of Moldova',
 'Republic of Moldova',
 'Maldives',
 'Maldives',
 'Maldives',
 'Marshall Islands',
 'Marshall Islands',
 'Mongolia',
 'Nicaragua',
 'Nicaragua',
 'Nicaragua',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Andorra',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Belgium',
 'Belgium',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Brunei Darussalam',
 'Brunei Darussalam',
 'Brunei Darussalam',
 'Canada',
 'Canada',
 'Canada',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Cook Islands',
 'Cook Islands',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Czech Republic',
 'Czech Republic',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Denmark',
 'Denmark',
 'Denmark',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Finland',
 'Finland',
 'France',
 'France',
 'France',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Kingdom of Great Britain and Northern Ireland',
 'Equatorial Guinea',
 'Greece',
 'Greece',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Hungary',
 'Hungary',
 'Ireland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Israel',
 'Israel',
 'Italy',
 'Italy',
 'Japan',
 'Japan',
 'Japan',
 'Republic of Korea',
 'Kuwait',
 'Kuwait',
 'Luxembourg',
 'Monaco',
 'Monaco',
 'Monaco',
 'Monaco',
 'Malta',
 'Malta',
 'Malta',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Nauru',
 'Nauru',
 'Nauru',
 'Nauru',
 'New Zealand',
 'New Zealand',
 'Oman',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Qatar',
 'Qatar',
 'Saudi Arabia',
 'Saudi Arabia',
 'Saudi Arabia',
 'Singapore',
 'San Marino',
 'San Marino',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Trinidad and Tobago',
 'United States of America',
 'United States of America',
 'United States of America',
 'United States of America',
 'Afghanistan',
 'Afghanistan',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Bangladesh',
 'Central African Republic',
 'Central African Republic',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Comoros',
 'Comoros',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ghana',
 'Ghana',
 'Ghana',
 'Guinea',
 'Guinea',
 'Guinea',
 'Gambia',
 'Gambia',
 'Gambia',
 'Gambia',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Guinea-Bissau',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 "Lao People's Democratic Republic",
 'Liberia',
 'Liberia',
 'Liberia',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Madagascar',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Mali',
 'Myanmar',
 'Mozambique',
 'Mozambique',
 'Mauritania',
 'Mauritania',
 'Mauritania',
 'Malawi',
 'Malawi',
 'Niger',
 'Niger',
 'Niue',
 'Niue',
 'Niue',
 'Niue',
 'Nepal',
 'Nepal',
 'Nepal',
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 "Democratic People's Republic of Korea",
 'Rwanda',
 'Rwanda',
 'Senegal',
 'Senegal',
 'Senegal',
 'Sierra Leone',
 'Sierra Leone',
 'Sierra Leone',
 'Sierra Leone',
 'Somalia',
 'Somalia',
 'South Sudan',
 'Chad',
 'Chad',
 'Togo',
 'Togo',
 'Togo',
 'Togo',
 'Togo',
 'Togo',
 'Tajikistan',
 'Tajikistan',
 'United Republic of Tanzania',
 'United Republic of Tanzania',
 'United Republic of Tanzania',
 'United Republic of Tanzania',
 'Uganda',
 'Uganda',
 'Uganda',
 'Uzbekistan',
 'Uzbekistan',
 'Uzbekistan',
 'Uzbekistan',
 'Viet Nam',
 'Viet Nam',
 'Viet Nam',
 'Viet Nam',
 'Yemen',
 'Yemen',
 'Yemen',
 'Yemen',
 'Yemen',
 'Yemen',
 'Zambia',
 'Zambia',
 'Zambia',
 'Zambia',
 'Zimbabwe',
 'Zimbabwe',
 'Zimbabwe',
 'Angola',
 'Angola',
 'Albania',
 'Albania',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Bolivia (Plurinational State of)',
 'Bolivia (Plurinational State of)',
 'Bhutan',
 'China',
 'China',
 'China',
 'China',
 "CÃ´te d'Ivoire",
 "CÃ´te d'Ivoire",
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Congo',
 'Congo',
 'Congo',
 'Cabo Verde',
 'Cabo Verde',
 'Djibouti',
 'Djibouti',
 'Djibouti',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Ecuador',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Micronesia (Federated States of)',
 'Micronesia (Federated States of)',
 'Micronesia (Federated States of)',
 'Georgia',
 'Georgia',
 'Georgia',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guatemala',
 'Guyana',
 'Guyana',
 'Guyana',
 'Guyana',
 'Honduras',
 'Indonesia',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Iran (Islamic Republic of)',
 'Iran (Islamic Republic of)',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Iraq',
 'Iraq',
 'Jordan',
 'Jordan',
 'Jordan',
 'Kiribati',
 'Kiribati',
 'Kiribati',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Lesotho',
 'Morocco',
 'Morocco',
 'Morocco',
 'Morocco',
 'Republic of Moldova',
 'Republic of Moldova',
 'Maldives',
 'Maldives',
 'Maldives',
 'Marshall Islands',
 'Marshall Islands',
 'Marshall Islands',
 'Marshall Islands',
 'Mongolia',
 'Mongolia',
 'Mongolia',
 'Mongolia',
 'Mongolia',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nicaragua',
 'Nicaragua',
 'Nicaragua',
 'Pakistan',
 'Pakistan',
 'Philippines',
 'Philippines',
 'Philippines',
 'Philippines',
 'Philippines',
 'Papua New Guinea',
 'Paraguay',
 'Paraguay',
 'Paraguay',
 'Paraguay',
 'Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Solomon Islands',
 'Solomon Islands',
 'Andorra',
 'Andorra',
 'Andorra',
 'United Arab Emirates',
 'United Arab Emirates',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Australia',
 'Australia',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Belgium',
 'Belgium',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Barbados',
 'Barbados',
 'Brunei Darussalam',
 'Brunei Darussalam',
 'Canada',
 'Canada',
 'Canada',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Cook Islands',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Czech Republic',
 'Czech Republic',
 'Czech Republic',
 'Czech Republic',
 'Germany',
 'Germany',
 'Germany',
 'Denmark',
 'Spain',
 'Spain',
 'Spain',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Finland',
 'Finland',
 'France',
 'France',
 'France',
 'France',
 'France',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Kingdom of Great Britain and Northern Ireland',
 'Equatorial Guinea',
 'Equatorial Guinea',
 'Greece',
 'Greece',
 'Greece',
 'Greece',
 'Croatia',
 'Croatia',
 'Croatia',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Ireland',
 'Ireland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Israel',
 'Italy',
 'Italy',
 'Italy',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Republic of Korea',
 'Republic of Korea',
 'Republic of Korea',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Luxembourg',
 'Luxembourg',
 'Monaco',
 'Malta',
 'Malta',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Norway',
 'Norway',
 'Nauru',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'Oman',
 'Oman',
 'Oman',
 'Portugal',
 'Qatar',
 'Qatar',
 'Qatar',
 'Qatar',
 'Saudi Arabia',
 'Saudi Arabia',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'San Marino',
 'San Marino',
 'San Marino',
 'San Marino',
 'San Marino',
 'Slovakia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Sweden',
 'Sweden',
 'Trinidad and Tobago',
 'Trinidad and Tobago',
 'Trinidad and Tobago',
 'United States of America',
 'United States of America',
 'United States of America',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Burundi',
 'Burundi',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Burkina Faso',
 'Burkina Faso',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Central African Republic',
 'Central African Republic',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Democratic Republic of the Congo',
 'Comoros',
 'Comoros',
 'Comoros',
 'Eritrea',
 'Eritrea',
 'Eritrea',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ghana',
 'Ghana',
 'Ghana',
 ...]

10) Get the subset rows 11, 24, 37

In [72]:
df.loc[[11, 24, 37]]

,Country,Indicator_Id,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
11,Austria,Life expectancy at birth (years),2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
37,Cyprus,Life expectancy at age 60 (years),2012,Europe,High-income,Female,26,26.0,NaN,NaN,NaN

11) Get the subset rows excluding 5, 12, 23, and 56

In [73]:
df.drop([5,12,23,56])

,Country,Indicator_Id,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
30,Switzerland,Life expectancy at age 60 (years),2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
31,Cook Islands,Life expectancy at birth (years),2012,Western Pacific,High-income,Both sexes,76,76.0,NaN,NaN,NaN
32,Cook Islands,Life expectancy at age 60 (years),2012,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

In [75]:
users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv')
sessions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv')
products = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv')
transactions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')

In [76]:
users.head()

   UserID      User  Gender  Registered   Cancelled
0       1   Charles    male  2012-12-21         NaN
1       2     Pedro    male  2010-08-01  2010-08-08
2       3  Caroline  female  2012-10-23  2016-06-07
3       4   Brielle  female  2013-07-17         NaN
4       5  Benjamin    male  2010-11-25         NaN

In [77]:
sessions.head()

   SessionID SessionDate  UserID
0          1  2010-01-05       2
1          2  2010-08-01       2
2          3  2010-11-25       2
3          4  2011-09-21       5
4          5  2011-10-19       4

In [78]:
transactions.head()

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

12) Join users to transactions, keeping all rows from transactions and only matching
rows from users (left join)

In [79]:
result = pd.concat([transactions, users], axis=1, join='left')

ValueError: Only can inner (intersect) or outer (union) join the other axis